/* body{
  min-height: 5000px;
} */

.bg-clr {
  background-color: #ff5e32;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #FFB1A1;
}

#projects {
  background-color: #FFB1A1;
}

section {
  /* padding-top: 80px; */
  padding-top: 5rem;
}

/* Tambahkan CSS baru di sini */

/* Efek transisi dan transformasi pada gambar */
#profile-img {
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer; /* Menambahkan kursor pointer untuk indikasi interaktif */
}

/* Efek saat di-hover */
#profile-img:hover {
  transform: scale(1.5) translateY(10px); /* menggeser 10% */
}

/* Efek saat diklik (aktif) */
#profile-img.active {
  transform: scale(1);
}
